.radio--label{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #334680;
    margin-bottom: 15px;
}
.location--title{
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #B9BDCF;
    margin: 0;
 
}
.location--textinput{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 0;
    font-size: 12px;
    line-height: 14px;
    color: #B9BDCF;
    padding: 17px;
    width: 100%;
    margin-bottom: 26px;
}
.margin--bottom--15{
    margin-bottom: 15px;
}