.location-radio-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.radio--label{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #334680;
    margin-bottom: 15px;
}
.location--title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: rgb(185, 189, 207);
    margin: 0;
    margin-bottom: 14px;
}
.search-wrapper{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 17px 14px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;  
}

.location--textinput{
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 14px;
    border: none;
    color: rgb(185, 189, 207);
  
    &:focus {
      border: none;
      outline: none;
    }
  
    &::placeholder {
      color: rgb(185, 189, 207);
      font-size: 12px;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
    }
}
.margin--bottom--15{
    margin-bottom: 15px;
}
.globe-americas {
    color: rgb(185, 189, 207);
    margin-right: 10px;
}