@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body{
  font: Roboto;
}
.sidebar {
  overflow-wrap: nowrap;
  width: 100%;
}

.arrow-back{
margin-bottom: 36px;
}

.sidebar--title{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #B9BDCF;
}

.sidebar--contact{
  font-size: 14px;
  line-height: 21px;
  color: #334680;
  width: 100%;
  margin: 0;
  word-wrap: break-word;
}

.image-wrapper{
  width: 100px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.card-image{
  border-radius: 4px;
  width: 100%;
}
.title-wrapper {
  display: flex;
}
.job-title{
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
  font-weight: 700;
  color: #334680;
  margin-right: 17px;
}
.type-tag {
  border: 1px solid #334680;
  border-radius: 4px;
  width: 75px;
  height: 26px;
  padding: 6px 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #334680;
}
.globe-americas {
  color: rgb(185, 189, 207);
  width: 15px;
  height: 15px;
  margin: -1px 8px;
}
.clock {
  color: rgb(185, 189, 207);
  width: 15px;
  height: 15px;
  margin: 0;
  margin-right: 8px;
}
.back-link {
  display: flex;
  align-items: center;
  color: rgb(30, 134, 255);
  text-decoration: none;
  margin-bottom: 36px;

  &:hover {
    color:  rgba(30, 134, 255, 0.8);
  }
}

.back-icon {
  margin: 0;
  margin-right: 15px;
  cursor: pointer;
}

.back-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.time-wrapper {
  color: #b7bcce;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  margin-bottom: 35px;
}

.company {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #334680;
  margin-left: 9px;
  margin-bottom: 4px;
}
.company-image-wrapper {
  display: flex;
}
.company-location-wrapper {

}

.location-wrapper {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.location-text {
  margin: 0;
  margin-left: 12px;
  color: rgb(51, 70, 128);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  cursor: pointer;
}
.description {
  color: #334680;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 40px;
}