$activeColor: #1E86FF;

.wrapper {
  display: flex;   
  border: 1px solid black;
  justify-content: flex-end;  
}

.button {
  display: flex;
  flex-direction: row;
  background-color: #F6F7FB;
  color: #B7BCCE;
  border: 1px solid #B7BCCE;
  border-radius: 4px;
  height: 36px;
  width: 36px;
  margin: 6px;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;  
  cursor: pointer;
  &:hover {
    border-color: $activeColor;
  }  
  &:focus{
    background-color: $activeColor;
    outline:  $activeColor;
    color: white;
  }
}
.arrow {
  border: 2px solid #B7BCCE;
  border-top: none;
  border-right: none;
  width: 9px;
  height: 9px;  
}
.arrow-left {  
  transform:translateX(25%) rotateZ(45deg);  
}
.arrow-right {  
  transform:translateX(-25%) rotateZ(225deg);  
}

