
.image-wrapper {  
  display: flex;
  min-width: 351px;
  max-width: 1200px;
  width: 100%;
  height: 138px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/backgroundImg.png");
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
}
.form-wrapper {
  position: relative;
  max-width: 790px;
  min-width: 350px;
  width: 100%;
  height: 55px;
  border-radius: 4px;
  background-color: chartreuse;
  margin: 0 18px;
}

.input-title {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  padding-left: 15px;
}

.btn-search {
  position: absolute;
  background-color: #1E86FF;
  color: white; 
  border: none; 
  width: 146px;
  height: 47px;
  border-radius: 4px;
  font-size: 16px;
  right: 0;
  margin: 4px;

}